@font-face {
  font-family: "Minecraft Regular";
  src: url("../fonts/1_Minecraft-Regular.eot?") format("eot"),
    url("../fonts/1_Minecraft-Regular.woff") format("woff"),
    url("../fonts/1_Minecraft-Regular.ttf") format("truetype"),
    url("../fonts/1_Minecraft-Regular.svg#Minecraft-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

// $bgPath: "../imgs/dirtBG.png";
@mixin font {
  font-family: "Minecraft Regular";
  color: #575557;
  font-weight: 500;
  font-size: 40px;
}

@mixin pFont {
  font-weight: 300;
  font-size: 20px;
}

@keyframes screen {
  0% {
    height: 1%;
    width: 0%;
  }
  50% {
    height: 1%;
    width: 100%;
  }
  100% {
    height: 100%;
  }
}

@keyframes modal {
  from {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%) scale(0.2);
    opacity: 0;
  }
  to {
    top: 50%;
    right: 50%;
    opacity: 1;
    transform: translate(50%, -50%) scale(1);
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.modal-container {
  @include font;
  z-index: 10;

  .modal-background {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    // animation: screen 1s linear;
    position: absolute;
  }

  .modal {
    width: 75%;
    height: calc(75vw);
    max-height: 75vh;

    background: #f5f5f5;
    box-sizing: border-box;
    z-index: 2;
    text-align: center;
    overflow-y: scroll;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.5);
  }

  .project-container {
    height: 100%;
    .project-items {
      height: 100%;
      .project-item {
        display: flex;
        height: calc(15vw);
        padding: 35px;
        text-decoration: none;
        transition: transform 0.3s ease;
        .item-title {
          font-weight: 600;
          font-size: 64px;
          color: black;
        }
        .item-desc {
          color: black;
          font-weight: 400;
          font-size: 42px;
        }
      }
    }

    .project-item:hover {
      transform: scale(1.1);
    }
  }

  .svg {
    z-index: 1;
    width: 75%;
    height: calc(75vw);
    max-height: 75vh;
    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      height: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0;
      .box {
        height: 100%;
        // background-color: #f5f5f5;
        background-image: url(https://static.planetminecraft.com/files/image/minecraft/texture-pack/2021/363/14104498-stone_l.webp);
        background-size: contain;
        filter: brightness(50%) contrast(100%) grayscale(25%);
        // border: #f5f5f5f5 1px solid;
      }
    }
    /* Media query for smaller screens */
    @media (max-width: 768px) {
      ul {
        grid-template-rows: repeat(5, 1fr); /* add one more row */
        grid-template-columns: repeat(5, 1fr); /* reduce to two columns */
      }
    }

    /* Media query for larger screens */
    @media (min-width: 1200px) {
      ul {
        grid-template-rows: repeat(3, 1fr); /* reduce to two rows */
        grid-template-columns: repeat(5, 1fr); /* add one more column */
      }
    }
  }

  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .svg {
      height: 100vh;
      width: 100vw;
    }

    .modal {
      height: 100vh;
      width: 100vw;
    }

    .project-item {
      display: flex;
      height: 5%;
    }
  }
}
